@model AUSIntermediate.Solution.Web.MVC.Models.UserModel
<form method="post" asp-action="Delete">
    <div class="modal fade" id="ModalPopUp" role="dialog">
    <div class="modal-dialog err-pop" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <div class"row py-2">
                     <span>
                         Are you sure you want to remove @Model.Name
                     </span>
                </div>
                <div row py-2>

                </div>
            </div>
        </div>
    </div>
</form>

